<head>
<script>

function remove1()
{
  document.getElementById("lightbox").remove();
}
function load()
{
  var em=document.getElementById("mail").value;
    if(em==null || em=="")
  {
    document.getElementById("loading").style.display="none";
  }
  
  else
  {
    document.getElementById("loading").style.display="inline";
  }

}

</script>

<style>
#lightbox img 
{
     box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
     max-width:540px;
     max-height:300px;
  
}
body
{
  padding: 0px;
  margin:0 auto;
}
#img1
{
  border:15px solid;
}

#lightbox 
{
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#778899;
    opacity:1.0;
    text-align:center;
   }
#btn
{
   margin-left:700px;
   margin-top:40px;
}
#wrapper
{
    width:100%;
    margin:0 auto; /*centers the div horizontally in all browsers (except IE)*/
    background:#525A73;
    text-align:left; /*resets text alignment from body tag */
    padding:25px;
    height: 1000px;

    
    /*Let's add some CSS3 styles, these will degrade gracefully in older browser and IE*/
   
}
.mhed
{
    margin-left:400px;
    font-size:35px;
    color:#F5F5F5;
    font-family:verdana;
    text-shadow: 15px 15px 15px #000;

}
.admin
{
   
    font-size:25px;
    font-family:verdana;
    float:right;
    margin-right:40px;

}
.user
{
   
    font-size:25px;
    font-family:verdana;
    margin-left:40px;

}
.hed
{
    margin-left:20px;
    font-size: 15px;
    color: #E19063;

}
.del
{
    position:relative;
    font-size:15px;
    text-decoration: none;
}
#new 
{
   
    font-size:25px;
    color:#fff;
    text-decoration: none;
    border:5px solid;
    
}

#imgs
{

    width:27%;
    margin:0 auto; /*centers the div horizontally in all browsers (except IE)*/
    background:#DDDDD5;
    text-align:left; /*resets text alignment from body tag */
    border:5px solid #000;
    padding:10px;
    float:left;
  box-shadow: 10px 10px 5px #000;
}
#pdfs
{
    width:27%;
    margin:0 auto; /*centers the div horizontally in all browsers (except IE)*/
    background:#DDDDD5;
    text-align:left; /*resets text alignment from body tag */
    border:5px solid #000;
    padding:10px;
    float:left;
    margin-left: 20px;
  box-shadow: 10px 10px 5px #000;
}
#docs
{
    width:27%;
    margin:0 auto; /*centers the div horizontally in all browsers (except IE)*/
    background:#DDDDD5;
    text-align:left; /*resets text alignment from body tag */
    border:5px solid #000;
    padding:10px;
    float:left;
    margin-left: 20px;
    box-shadow: 10px 10px 5px #000;
}
p
{
   font-size: 20px;
   color: #F5F5F5;
}
.name
{
  width:150px;
}
#notice
{
  
  font-size: 15px;
}
#close
{

  width:50px;
  height:50px;
}
#mesg
{
  width:450px;

}
</style>
</head>


<div id="wrapper">

<h1 class="mhed">File Upload Gallery</h1>

<div id="mesg">
<% if (notice =~ /^Mail was successfully.*$/) %>
   <p id="notice"><%= notice %></p>
   <%= link_to image_tag("/assets/close1.png",:id => "close"), '#' %>

 <% end %>
</div>

<div>

<%= link_to "Admin Login", admin_login_path ,:class => "admin" %>

<%= link_to "User Login", user_login_path ,:class => "user" %>
</div>


<br>
<br>


<br>
<br>

<div id="wrappers">
<div id="imgs">
<h1 class="hed">Uploaded Images</h1>
<% @uploads1.each do |upload| %>
      <% if upload.filename =~ /^.*\.(jpg|png|gif|jpeg|JPG|PNG|GIF|JPEG)$/ %>
      
      <table>
      <tr>
          <td>
   
          <%= link_to image_tag("#{upload.file}",:class => 'lightbox_trigger',:width => "50px",:height => "50px",:id => "#{upload.id}"), '#' %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="name">
          <%= upload.filename %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        
          <td>
          <%= link_to 'Delete', upload, method: :delete ,:class => "del",:remote => true ,:hidden => true %>
          </td>

      </tr>
      </table>
     <% end %>
<% end %> 
<%= paginate @uploads1,:param_name => "page_img" %> 
</div>


     
<div id="pdfs">
<h1 class="hed">Uploaded PDF files</h1>
<% @uploads2.each do |upload| %>
    <% if upload.filename =~ /^.*\.(pdf|PDF)$/ %>
      <table>
      <tr>
          <td>
          <%= link_to image_tag("/assets/pdf.png",:width => "50px",:height => "50px"), "/#{upload.file}",:class => 'lightbox_trigger1',:id => "#{upload.id}" %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="name">
          <%= upload.filename %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
          <%= link_to 'Delete', upload, method: :delete,:class => "del" ,:remote => true,:hidden => true %>
          </td>
    
      </tr>
      </table>
   <% end %> 
<% end %> 
  <%= paginate @uploads2,:param_name => "page_pdf" %> 
</div>    
     


<div id="docs">
<h1 class="hed">Uploaded Word Documents</h1>
<% @uploads3.each do |upload| %>
   <% if upload.filename =~ /^.*\.(doc|docx)$/ %>
      <table>
      <tr>
          <td>
          <%= link_to image_tag("/assets/microw.png",:width => "50px",:height => "50px"),  "/#{upload.file}" ,:class => 'lightbox_trigger2' ,:id => "#{upload.id}" %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="name">
          <%= upload.filename %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
          <%= link_to 'Delete', upload, method: :delete,:class => "del",:remote => true,:hidden => true %>
          </td>
      </tr>
      </table>  
   <% end %>  
<% end %>  
  <%= paginate @uploads3,:param_name => "page_doc" %> 
</div>
  
</div>


</div>







