<head>
<style>
body
{
  padding: 0px;
  margin:0 auto;
  background-color:#778899;
}
#cred
{
     width:500px;
     height:550px;
     border:10px solid #000;
     margin-left:350px;
     margin-top:100px;
    
     border-radius:10px;
     background-color:#DDDDD5;
}
.field
{
    margin-top: 40px;
    margin-left:50px;
     font-size: 15px;
}
.field1
{
    margin-top: 10px;
    margin-left:50px;
    font-size: 15px;
}
.actions
{
    margin-top:20px;
    margin-left:150px;
}
#mh
{
   margin-left:450px;
   color:#fff;
   font-family:verdana;
   font-size: 35px;
   margin-top:100px;
}
#back
{

  margin-top:40px;
  
}
#notice
{
  font-size: 15px;
}

.admin
{
    font-size:20px;
    font-family:verdana;
    float:right;
    margin-right:30px;
    padding-top:30px;
    text-decoration: none;
}
.l1{
  
   padding: 6px;
   font-size:17px;
   color: #89897E;
  
}

.i1{
   width:250px;
   padding: 6px;
   font-size: 12px;
   color: #89897E;
   border: 1px solid #E5E5DD;
   background: #F4F4ED;
   border-radius: 5px;
   
}

.i1:hover{
   border: 1px solid #DAA520;
         }
.i2{
   width:120px;
   padding: 6px;
   font-size: 15px;
   
   border: 1px solid #E5E5DD;
   background: #FFFFFF;
   border-radius: 10px;
   margin-left:50px;
}   
</style>
</head>

<%= form_for(@people,:url => { :action => :register }) do |f| %>

<h1 id="mh">User Registration</h1>

<%= link_to "Home Page" ,root_path,:class => "admin" %>

<div id="cred">
 

   <div class="field">
    <%= f.label :username,:class => "l1" %>&nbsp
    <%= f.text_field :username,:required => true,:class => "i1"%>
    <br>
<br>
   </div>
   <div class="field1">
    <%= f.label :password,:class => "l1"%>&nbsp&nbsp
    <%= f.password_field :password,:required => true,:class => "i1"%>
  <br>
<br>

    </div>
    <div class="field1">
    <%= f.label :name,:class => "l1" %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <%= f.text_field :name,:required => true,:class => "i1"%>
  <br>
<br>

    </div>
    <div class="field1">
    <%= f.label :email,:class => "l1" %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <%= f.text_field :email,:required => true,:class => "i1",:pattern => "[a-zA-Z][0-9a-z_]*@[a-z]{3,6}.com",:oninvalid =>"setCustomValidity('Enter valid email')"%>
  <br>
<br>

    </div>
   
   
   

   <div class="actions">
    <%= f.submit :Register,:class => "i2" %>

    <p id="notice"><%= notice %></p>

   </div>

</div>

<% end %>







